#login-container {
    display: flex !important;
    position: relative;
    .active {
        opacity: 1 !important;
    }
    .bucket {
        display: flex !important;
        flex-direction: column ;
        transition: .5s;
        width: 18rem;
        right: 2%;
        border-radius: 10px;
        z-index: 2;
        padding: 1rem;
        position: absolute;
        top: 120%;
        opacity: 0;
        background-color: var(--light-grey);
        .tail{
            position: absolute;
            top: -6%;
            right: 2%;
            color: var(--light-grey);
        }
        .intro {
            display: flex !important;
            flex-direction: column ;
        }
        form {
            .errors{
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-block: .5rem;
            }
            input {
                width: 100%;
                border: 2px solid grey;
               padding-block: .2rem;
                padding-inline: 0.5rem;
                border-radius: 5px;
                margin-block-end: .8rem;
            }
            button {
                width: 100%;
                border-radius: 10px;
                border: none;
                background-color: white;
            }
        }
    }
}
