@import url("./products.css");
@import url("./orders.css");
@import url("./users.css");
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-color: rgb(191, 191, 191);
}
#dashboard-nav {
    /* Buffer at screen edge */
    padding-inline: var(--desktop);
    @media only screen and (max-width: 1070px) {
        padding-inline: var(--mobile);
    }
    backdrop-filter: blur(20px);
    border-radius: 0 0 10px 10px;
    /* --- */
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding-block: 0.5rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    gap: 0.3rem;
}
#dashboard-nav {
    #id-actions {
        display: flex;
        gap: 1rem;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
        }
    }
    #menu {
        overflow-y: hidden;
        overflow-x: auto;
        .bucket {
            .items {
                display: flex;
                gap: 2rem;
                .item {
                    width: max-content;
                    text-decoration: none;
                    a {
                        text-transform: capitalize;
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
#dashboard {
    margin-block-start: 6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    #role-bubble {
        margin-block: 0.4rem;
        padding-block: 0.2rem;
        padding-inline: 0.5rem;
        width: max-content;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border: 2px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
    }
    .sales {
    }
    .trending {
    }
    .users {
    }
}
footer {
    /* Buffer at screen edge */
    padding-inline: var(--desktop);
    @media only screen and (max-width: 1070px) {
        padding-inline: var(--mobile);
    }
    margin-block-start: 5rem;
}
