@import url("./products.css");
@import url("./orders.css");
@import url("./users.css");
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background: linear-gradient(
        180deg,
        rgba(80, 80, 80, 1) 0%,
        rgba(54, 54, 54, 1) 100%
    );
}
#dashboard-nav {
    /* Buffer at screen edge */
    padding-inline: var(--desktop);
    @media only screen and (max-width: 1070px) {
        padding-inline: var(--mobile);
    }

    backdrop-filter: blur(20px);
    border-radius: 0 0 10px 10px;
    /* --- */
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding-block: .5rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    gap: 0.3rem;
}
#dashboard-nav {
    #id-actions {
        display: flex;
        gap: 1rem;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--light-grey);
        }
    }
    #menu {
        overflow-y: hidden;
        overflow-x: auto;
        .bucket {
            .items {
                display: flex;
                gap: 2rem;
                .item {
                    width: max-content;
                    text-decoration: none;
                    a {
                        text-transform: capitalize;
                        color: var(--light-grey) !important;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
#dashboard {
    color: white;
    margin-block-start: 6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    #role-bubble{
        margin-block: .4rem;
        padding-block: .2rem;
        padding-inline: .5rem;
        width: max-content;
        border-radius: 10px;
        background-color: rgba(173, 216, 230,.3);
        border: 1px solid rgb(173, 216, 230);
        color: lightblue;
    }
    .sales {
    }
    .trending {
    }
    .users {
    }
}
footer {
    /* Buffer at screen edge */
    padding-inline: var(--desktop);
    @media only screen and (max-width: 1070px) {
        padding-inline: var(--mobile);
    }
    margin-block-start: 5rem;
}
