@import url("./products.css");
@import url("./orders.css");
@import url("./users.css");
@import url("./searchbar.css");
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-color: rgb(255, 255, 255);
}
#dashboard-nav {
    /* Buffer at screen edge */
    padding-inline: var(--desktop);
    @media only screen and (max-width: 1070px) {
        padding-inline: var(--mobile);
    }
    background-color: white;
    /* --- */
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding-block-start: 0.5rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    gap: 0.5rem;
}
#dashboard-nav {
    #id-actions {
        display: flex;
        gap: 1rem;
        a {
            flex: 0 auto;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
        }
        .home {
            display: flex;
            gap: 1rem;
        }
        .logout {
            flex-grow: 1;
            display: flex;
            justify-content: end;
        }
    }
    #menu {
        overflow-y: hidden;
        overflow-x: auto;
        .bucket {
            .items {
                height: 2.5rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                .active {
                    background-color: rgb(239, 239, 239);
                    a {
                        -webkit-text-stroke: 0.5px;
                        color: black !important;
                    }
                }
                .item {
                    font-size: 90%;
                    border-radius: 15px;
                    border: 1px solid var(--light-grey);
                    padding-block: 0.1rem;
                    padding-inline: 0.6rem;
                    height: max-content;
                    width: max-content;
                    text-decoration: none;
                    a {
                        text-transform: capitalize;
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
#dashboard {
    margin-block-start: 9.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .quick-actions {
        display: flex;
        flex-wrap: wrap;
        margin-block: 1rem;
        @media only screen and (max-width: 1070px) {
            gap: 1rem;
        }
        a {
            padding-inline-end: 0.5rem;
            flex: 0 15%;
            text-decoration: none;
            @media only screen and (max-width: 1070px) {
                padding-inline-end: 0rem;
                flex: 0 100%;
            }
            .qa {
                border-radius: 8px;
                padding: 0.5rem;
                padding-inline-end: 1rem;
                color: white;
                background-color: rgb(57, 57, 57);
                min-width: 10rem;
                min-height: 6rem;
                display: grid;
                grid-template: 1fr / 10px 1fr;
                gap: 1rem;
                .bar {
                    border-radius: 10px;
                    width: 50%;
                    height: 100%;
                    background-color: rgb(122, 122, 122);
                }
            }
        }
    }
}
/* Error */
.error {
    font-size: 0.9rem;
    width: max-content;
    padding-block: 0.2rem;
    border-radius: 10px;
    padding-inline: 0.8rem;
    background-color: rgba(255, 165, 0, 0.3);
    border: 1px solid orange;
}
/* Text */
.bold {
    -webkit-text-stroke: 0.2px;
}
footer {
    width: 100%;
    height: 5rem;
    /* Buffer at screen edge */
    padding-inline: var(--desktop);
    @media only screen and (max-width: 1070px) {
        padding-inline: var(--mobile);
    }
}
