#users {
    height: rem;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    #user-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-block: 1rem;
        .user {
            border-radius: 10px;
            min-width: max-content;
            min-height: 10rem;
            max-width: 20rem;
            background-color: rgb(234, 234, 234);
            color: black;
            padding: 1rem;
            display: grid;
            grid-template: max-content 1fr / 1fr;
            .pic {
                height: 2rem;
                width: 2rem;
                border-radius: 20px;
                background-color: var(--grey);
            }
            .information {
                margin-block: 0.5rem;
                .name-role {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    .role {
                        font-size: 90%;
                        padding-inline: 0.5rem;
                        background-color: var(--light-grey);
                        border-radius: 15px;
                    }
                }
            }
            .actions {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 0.5rem;
                button {
                    background-color: white;
                    border-radius: 8px;
                    border: none;
                }
                button:focus {
                    border: none;
                    outline: none;
                }
            }
        }
    }
}
#mail {
    width: 100%;
    margin-block: 1rem;
    .sending {
        margin-block: 1rem;
        .recipients {
            display: flex;
            gap: 0.5%;
        }
        .pill {
            width: max-content;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            word-break: break-all;
            margin-block: 5px;
            padding-inline-end: 0.8rem;
            padding-inline-start: 0.5rem;
            border-radius: 100px;
            padding-block: 0.2rem;
            background-color: var(--light-grey);
            .del {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                width: 20px;
                border-radius: 100px;
                background-color: white;
            }
        }
        .inputs {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            input:focus {
                border: 1px solid black;
                outline: none;
            }
            input:focus,textarea:focus{
                outline: none;
                border: 1px solid black;
            }
            input {
                padding-block: 0.2rem;
                border: 1px solid grey;
                flex: 0 100%;
                border-radius: 5px;
                padding-inline: 0.5rem;
            }
            textarea {
                width: 100%;
                min-height: 12rem;
                padding-block: .2rem;
                padding-inline: .5rem;
            }
        }
    }
    #actions {
        button {
            border: none;
            background-color: var(--light-grey);
            padding-block: .2rem;
            padding-inline: 1rem;
            border-radius: 10px;
        }
    }
}
