@import url(./carousel.css);
@import url(./dashboard-mailing.css);
@import url(./dashboard-nav.css);
@import url(./dashboard-products.css);
@import url(./dashboard.css);
@import url(./errors.css);
@import url(./footer.css);
@import url(./general.css);
@import url(./login.css);
@import url(./main.css);
@import url(./menu.css);
@import url(./nav.css);
@import url(./searchbar.css);
@import url(./section.css);
@import url(./tags.css);
@import url(./products.css);

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}