#h-wrapper {
    display: grid;
    width: 100%;
    height: inherit;
    grid-template: 1fr / 1.2fr 1fr;
}
#h-mailing {
    position: relative;
    overflow: hidden;
    color: black;
}
#h-mailing > div {
    width: 80%;
}
#m-spacer{
    display: block;
    content: "";
    margin: .8rem;
}
#h-mailing > div > h1 {
    font-size: 2.5rem;
}
#h-mailing > div > p {
    font-size: 1.2rem;
}
#h-mailing > div > form {
    width: 100%;
}
#m-controls {
    position: relative;
}
#email-input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid black;
    height: 3.2rem;
    border-radius: 15px;
    margin-bottom: 1rem;
}
#email-input > input {
    border: none;
    font-size: 1.2rem;
    width: 90%;
    margin-left: 1rem;
    background: none;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email-input > input > *{
    display: flex;
    align-items: center;
}
#email-input > input:focus {
    outline: none;
}
#m-controls > #m-btn {
    border: none;
    font-weight: 500;
    border-radius: 15px;
    outline: none;
    display: flex;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    color: black;
    background-color: greenyellow;
}
/* Confetti */
#h-mailing > canvas {
    position: absolute;
}
@media only screen and (max-width: 1480px) {
    #h-mailing > div > h1 {
        font-size: 3rem;
    }  
}
@media only screen and (max-width: 1366px) {
    #h-wrapper {
        grid-template: 1fr 1fr / 1fr;
    }
    #h-mailing > div {
        width: 92%;
    }
    #h-mailing > div > h1 {
        word-wrap: break-word;
        width: 80%;
        font-size: 2.5rem;
    }
    #h-mailing > div > p {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 768px) {
    #h-mailing > div {
        width: 90%;
    }
    #h-wrapper {
    gap: 2rem;
    }
}
