p {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#h-wrapper {
    display: grid;
    width: inherit;
    height: inherit;
    grid-template: 1fr / 60% 1fr;
}
#h-mailing {
    overflow: hidden;
    color: black;
    border: 5px solid green;
    height: 25rem;
    border-radius: 1em 0 0 1em;
}
#h-mailing > div {
    height: 85%;
    width: 90%;
}
#h-mailing > div > h1 {
    font-size: 4rem;
}
#h-mailing > div > p {
    font-size: 1.5rem;
}
#h-mailing > div > form {
    bottom: 3rem;
    display: flex;
    width: 100%;
}
#m-controls {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    border: 2px solid black;
    height: 3rem;
    border-radius: 15em;
}
#m-controls > input {
    border: none;
    font-size: 1.5;
    width: 70%;
    margin-left: 1.2rem;
    background: none;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#m-controls > input:focus {
    outline: none;
}
#m-controls > #m-btn {
    position: absolute;
    right: 0;
    border: none;
    font-weight: 500;
    outline: none;
    display: flex;
    width: 20%;
    height: 100%;
    font-size: 1.2rem;
    color: black;
    background-color: greenyellow;
}
#h-collection {
    flex-direction: column;
    color: white;
    background-color: green;
    border: 5px solid green;
    border-radius: 0 1em 1em 0;
}
#h-collection > div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
}
#h-collection > div > h1 {
    font-size: 3rem;
}
#h-collection > div > p {
    font-size: 1.5rem;
}
@media only screen and (max-width: 1366px) {
    #h-wrapper {
        grid-template: 1fr 1fr / 1fr;
    }
    #h-mailing {
        border-radius: 1em 1em 0 0;
    }
    #h-mailing > div > h1 {
        font-size: 3rem;
    }
    #h-mailing > div > p {
        font-size: 1.2rem;
    }
    #h-collection {
        border-radius: 0 0 1em 1em;
    }
}
@media only screen and (max-width: 768px) {
    #m-btn {
        width: 40% !important;
    }
}
