p {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#h-wrapper {
    display: grid;
    width: inherit;
    height: inherit;
    grid-template: 1fr / 60% 1fr;
}
#h-mailing {
    position: relative;
    overflow: hidden;
    color: black;
    border: 5px solid green;
    border-radius: 1em 0 0 1em;
}
#h-mailing > div {
    padding-block: 3rem;
    width: 90%;
}
#m-spacer{
    display: block;
    content: "";
    margin: .8rem;
}
#h-mailing > div > h1 {
    font-size: 4rem;
}
#h-mailing > div > p {
    font-size: 1.5rem;
}
#h-mailing > div > form {
    width: 100%;
}
#m-controls {
    position: relative;
}
#email-input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid black;
    height: 3.2rem;
    border-radius: 15px;
    margin-bottom: 1rem;
}
#email-input > input {
    border: none;
    font-size: 1.2rem;
    width: 70%;
    margin-left: 1.2rem;
    background: none;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#email-input > input:focus {
    outline: none;
}
#m-controls > #m-btn {
    border: none;
    font-weight: 500;
    border-radius: 15px;
    outline: none;
    display: flex;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    color: black;
    background-color: greenyellow;
}
/* Confetti */
#h-mailing > canvas {
    position: absolute;
}
/* Errors */
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fade {
    animation: 1s linear 0s fade;
}
.error {
    bottom: 1.5rem;
    position: absolute;
    font-size: 1.1rem;
    border-radius: 30px;
    padding-inline: 2rem;
    height: 2rem;
    background-color: rgb(221, 221, 221);
    border: 1px solid grey;
}
#h-collection {
    color: white;
    background-color: green;
    border: 5px solid green;
    border-radius: 0 1em 1em 0;
}
#h-collection > div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
}
#h-collection > div > h1 {
    font-size: 3rem;
}
#h-collection > div > p {
    font-size: 1.5rem;
}
@media only screen and (max-width: 1480px) {
    #h-mailing > div > h1 {
        font-size: 3rem;
    }  
}
@media only screen and (max-width: 1366px) {
    #h-wrapper {
        grid-template: 1fr 1fr / 1fr;
    }
    #h-mailing {
        border-radius: 1em 1em 0 0;
    }
    #h-mailing > div > h1 {
        font-size: 3rem;
    }
    #h-mailing > div > p {
        font-size: 1.5rem;
    }
    #h-collection {
        border-radius: 0 0 1em 1em;
    }
}
@media only screen and (max-width: 768px) {
    #h-mailing > div {
        width: 85%;
    }
}
