#mailing-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 2fr 1fr;
}
#mailing-list {
    width: 100%;
    height: 100%;
}
#ml-wrapper{
    width: 100%;
    height: 100%;
}
#ml-tb-wrapper{
    height: 100%;
    width: 23.5rem;
    overflow: auto;
}
#ml-tb-wrapper > table{
    width:20rem;
}


@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 768px) {
    #mailing-container {
        display: grid;
        grid-template: 30rem 1fr 2rem / 1fr;
    }
}
