#dashboard-content {
    display: grid;
    grid-template: 9rem 1fr / 1fr;
}

#dashboard-welcome {
    width: 100%;
    height: 100%;
}

#dw-content {
    width: 90%;
    flex-direction: column;
    text-align: center;
    word-wrap: break-word;
}

.input{
    border: 1px solid black;
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
}
.input > input{
    height: 80%;
    width: 90%;
    border: none;
}
.input > input:focus{
    outline: none;
}

