/* Notification */
.notification {
    background-color: green;
    color: grey;
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
    padding-inline-end: 0.1rem;
    padding-block: 0.1rem;
    border-radius: 10px;
    .bucket {
        padding: 0.5rem;
        background-color: white;
        border-radius: 10px;
        .title {
            font-size: var(--big);
        }
        .text {
            font-size: var(--medium);
        }
    }
}
/* Tags */

.tag {
    color: grey;
    p::first-letter {
        text-transform: capitalize;
    }
}
