main {
    display: grid;
    grid-template: 16rem 1fr / 1fr;
}
#hero {
    width: 100%;
}
#aboutus{
    width: 100%;
}
#content {
    flex-direction: column !important;
}
@media only screen and (max-width: 715px) {
    main {
        grid-template: 12rem 1fr / 1fr;
    }
}
