
#menu > #m-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 4rem;
    width: 90%;
    min-width: 20rem;
}
#menu > #m-layout::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.3rem;
}

#menu > #m-layout::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 2rem;
}
#m-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}
.m-item {
    color: rgb(136, 136, 136);
    font-size: 0.8rem;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m-item > i {
    margin: 0;
}
.m-item > p {
    font-weight: 500;
}
.m-item > i {
    font-size: 1.6rem;
}