#menu > #m-layout {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 4rem;
    width: 90%;
    min-width: 20rem;
}
#m-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}
.m-item {
    opacity: 0.4;
    color: black;
    font-size: 1rem;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m-item > i {
    margin: 0;
}
.m-item > p {
    color: rgb(0, 0, 0) !important;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: capitalize;
}
@media only screen and (max-width: 1600px) {
    .m-item > img {
        height: 20px !important;
    }
}
@media only screen and (max-width: 1366px) {
    .m-item > img {
        height: 25px !important;
    }
    #m-layout {
        overflow-x: scroll !important;
        justify-content: start !important;
    }
}
@media only screen and (max-width: 1140px) {
    #m-layout {
        overflow-x: scroll !important;
        justify-content: start !important;
    }
}
