#s-wrapper {
    width: 100%;
    height: 100%;
}
#s-bar {
    overflow: hidden;
    height: 55%;
    width: 90%;
    border: 2px solid rgb(142, 142, 142);
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 5px 2px rgb(236, 236, 236);
}
#s-bar > form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#s-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}
#s-bar > form > #s-container> input {
    font-size: .9rem;
    margin-left: 1rem;
    background: transparent;
    border: none;
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s-bar > form > #s-container> input > *{
    display: flex;
    align-items: center;
    justify-content: center;
}
#s-bar > form > #s-container> input::-webkit-input-placeholder {
    margin-left: 1rem;
}
#s-bar > form > #s-container> input:focus {
    outline: none;
}
#s-btn{
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: rgb(212, 212, 212);
}
#s-btn > i{
    margin: 0;
    font-size: 1.2rem;
}

@media only screen and (max-width: 715px) {
    #s-bar {
        height: 75%;
    }
}
/*

#s-results-wrapper {
    margin-top: 3.5rem;
    z-index: 1;
    position: absolute;
    width: 90%;
    height: 0px;
}

#s-results {
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    border: 1px solid lightgrey;
    width: 100%;
} */
