#explore {
    height: 15rem;
    padding-block: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    #mailing-cta {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        @media only screen and (max-width: 1070px) {
            padding-inline: 0;
        }
        #confetti {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            pointer-events: none;
            #confetti-canvas {
                scale: 2;
                position: absolute;
            }
        }
        #mcta-inputs {
            margin-block-start: 2rem;
            margin-block-end: 1rem;
            position: relative;
            input {
                background: transparent;
                padding-inline: 1rem;
                padding-inline-end: 5.5rem;
                padding-block: 0.5rem;
                border: 2px solid grey;
                width: 100%;
                border-radius: 10px;
            }
            input:focus {
                outline: 1px solid green;
            }
            .input-btn {
                pointer-events: none;
                color: green;
                margin: 0;
                position: absolute !important;
                top: 0;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: right;
                i {
                    cursor: auto;
                    pointer-events: all !important;
                    width: 4rem;
                    display: flex;
                    justify-content: center;
                    transition: 0.2s;
                }
                i:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
