#explore {
    margin-block-end: 1rem;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    @media only screen and (max-width: 1070px) {
        grid-template: max-content 1fr/ 1fr;
    }
    #mailing-cta {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (max-width: 1070px) {
            padding-inline: 0;
        } 
        #confetti {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            pointer-events: none;
            #confetti-canvas {
                scale: 1.5;
                position: absolute;
            }
        }
        #mcta-inputs {
            margin-block-start: 2rem;
            margin-block-end: 1rem;
            position: relative;
            input {
                background: transparent;
                padding-inline: 1rem;
                padding-inline-end: 5.5rem;
                padding-block: 0.5rem;
                border: 2px solid grey;
                width: 80%;
                border-radius: 10px;
                @media only screen and (max-width: 1070px) {
                    width: 100%;
                }
            }
            input:focus {
                outline: 1px solid green;
            }
            .input-btn {
                pointer-events: none;
                color: green;
                margin: 0;
                position: absolute !important;
                top: 0;
                height: 100%;
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: right;
                @media only screen and (max-width: 1070px) {
                    width: 100%;
                }
                i {
                    cursor: auto;
                    pointer-events: all !important;
                    width: 4rem;
                    display: flex;
                    justify-content: center;
                    transition: 0.2s;
                }
                i:hover {
                    cursor: pointer;
                }
            }
        } 
    }
    #featured-products {
        flex: 0 50%;
        @media only screen and (max-width: 1070px) {
            flex: 0 100%;
        }
        .products {
            height: 25rem;
            overflow-x: auto;
            overflow-y: hidden;
            position: relative;
            display: flex;
            align-items: center;
            .bucket {
                position: absolute;
                display: flex;
                flex-direction: row;
                gap: 2rem;
            }
        }
    }
}
