footer {
    opacity: .5;
    font-size: 0.8rem;
    position: relative;
    overflow: hidden;
    margin-block-start: 5rem;
    height: max-content;
    padding-block-end: 2rem;
    #message {
        padding-inline: var(--desktop);
        @media only screen and (max-width: 1070px) {
            padding-inline: var(--mobile);
        }
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .disclaimer {
            text-align: center;
        }
        .social-links {
            font-size: 1.5rem;
            justify-content: center;
            text-align: center;
            display: flex;
            gap: 1rem;
        }
        .tech {
            display: flex;
            justify-content: center;
        }
    }
    #footer-pattern {
        z-index: -1;
        top: 0;
        height: 3rem;
        img {
            opacity: 0.04;
            height: 70rem;
        }
    }
    .mask {
        width: 100%;
        height: 1rem;
        background-color: red;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 35%,
            rgba(255, 255, 255, 0) 100%
        );
    }
}
