footer {
    font-size: 0.8rem;
    position: relative;
    overflow: hidden;
    margin-block-start: 2rem;
    height: max-content;
    padding-block-end: 2rem;
    .f-container {
        /* Buffer at screen edge */
        padding-inline: var(--desktop);
        @media only screen and (max-width: 1070px) {
            padding-inline: var(--mobile);
        }
        /* --- */
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
    }
    .message {
        display: flex;
        align-items: center;
    }
    .social-links {
        color: grey;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .pattern {
        height: 5rem;
        overflow: hidden;
        opacity: 0.3;
        display: flex;
        justify-content: center;
        align-items: center;
        .pattern-container {
            overflow: hidden;
            border-radius: 10px;
            width: 90%;
            height: 80%;
        }
    }
}
