@import url('/resources/css/checkout/checkout.css');
@import url('/resources/css/checkout/orders.css');

#cart{
    position: relative;
    p{
        position: absolute;
        color: white;
        background-color: rgb(184, 114, 57);
        padding: .2rem;
        padding-inline: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -.5rem;
        left: 1.2rem;
        border-radius: 3rem;
    }
}