.active {
    pointer-events: all;
}
#product-page {
    pointer-events: none;
    position: fixed;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    .active {
        transform: translateY(0px) !important;
        opacity: 1 !important;
    }
    .bucket {
        padding-block: 2rem;
        padding-inline: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 15px 5px var(--light-grey);
        transition: 0.5s;
        position: absolute;
        opacity: 0;
        transform: translateY(20px);
        background-color: white;
        height: max-content;
        min-width: 20rem;
        .close {
            position: absolute;
            right: 3%;
            top: 2%;
            font-size: 1.2rem;
            -webkit-text-stroke: 0.1rem;
        }
        .image {
            overflow: hidden;
            width: 100%;
            height: 15rem;
            display: flex;
            align-items: center;
            .img {
                img {
                    border-radius: 10px;
                    height: 13rem;
                }
            }
            .lazy-load {
                position: absolute;
                width: inherit;
                height: inherit;
                background-color: var(--grey);
                border-radius: 10px;
            }
        }
        .id {
            margin-bottom: 2rem;
            .tags {
                display: flex;
                gap: 0.5rem;
            }
            .description {
                text-wrap: wrap;
            }
            .in-stock {
                color: green;
            }
            .out-stock {
                color: red;
            }
        }
        .actions {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            align-items: center;
            .options {
                flex: 0 100%;
                display: flex;
                gap: 0.5rem;
                select {
                    flex-grow: 1;
                }
                select {
                    appearance: none;
                    padding-block: 0.2rem;
                    padding-inline: 0.5rem;
                    border-radius: 10px;
                }
                select:focus {
                    outline: 0;
                }
            }
            .buttons {
                flex: 0 100%;
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                .todowCart {
                    flex-grow: 1;
                    width: 5rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    border-radius: 10px;
                    gap: 0.5rem;
                    border: 1px solid grey;
                    .add {
                        cursor: pointer;
                    }
                    .minus {
                        cursor: pointer;
                    }
                }
                .remove {
                    flex: 0 30%;
                    border-radius: 10px;
                    border: none;
                    color: red;
                    background-color: pink;
                }
            }
        }
    }
}
